{
   "singleQuote": true,
   "printWidth": 120,
   "tabWidth": 3,
   "overrides": [
      {
         "files": "*.sol",
         "options": {
            "singleQuote": false
         }
      }
   ],
   "plugins": ["prettier-plugin-solidity"]
}
